pyTelegramBotAPI==3.6.6
ppdirs==1.4.3
asgiref==3.2.3
certifi==2018.1.18
cffi==1.13.2
chardet==3.0.4
dj-git==0.3
Django==1.10.6
docutils==0.13.1
future==0.18.2
idna==2.6
packaging==16.8
pip==19.3.1
pipenv==11.8.0
pycparser==2.19
pygal==2.4.0
pygit2==1.0.0
Pygments==2.2.0
pyowm==2.8.0
pyparsing==2.2.0
python-telegram-bot==7.0.1
pytz==2019.3
requests==2.13.0
setuptools==41.2.0
six==1.10.0
sqlparse==0.3.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0